<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap core CSS -->
    <title>nasa-api-full-stack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link href="/public/assets/index.css" rel="stylesheet" type="text/css" />
    <script src="index.js"></script>
    <meta charset="utf-8">
    <title>User Favorites</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body
    style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <nav class="view navbar navbar-secondary">
        <a class="navbar-brand" style="color: white;">
            <p style="margin-left: 50px; font-size: 35pt; font-weight: bold;">APOD API</p>
        </a>
        <div class="row justify-content-end" style="margin-right: 20px;">
            <form action="/auth/success" method="GET" class="pl-2">
                <button class="btn btn-dark btn-lg" style="margin-right: 20px;" type="submit">Home</button>
            </form>
            <form action="/auth/logout" method="GET" class="pl-2">
                <button class="btn btn-dark btn-lg" style="margin-right: 20px;" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div class="pt-5 container">
        <div class=" jumbotron" style="height: 600px;">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-5">
                    <p>PLACEHOLDER CONTENT!</p>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</html>