<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Forgot Password?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body
    style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <nav class="view navbar navbar-secondary">
        <a class="navbar-brand" style="color: white;">
            <p style="margin-left: 50px; font-size: 35pt; font-weight: bold;">APOD API</p>
        </a>
        <div class="row justify-content-end" style="margin-right: 20px;">
            <div class="col">
                <form action="/" method="GET" class="form-inline">
                    <button class="btn btn-dark btn-lg" type="submit">Home</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="pt-5 container">
        <div class=" jumbotron">
            <h1 class="display-4">Forgot your password?</h1>
            <hr class="my-4">
            <p>Enter your username and a new password.</p>
            <form action="/update-password" method="POST">
                <input type="text" name="username" class="username form-control" placeholder="Username" />
                <input type="password" name="password" class="password form-control" placeholder="Password" />
                <button type="submit" class="btn btn-outline-secondary">Reset Password</button>
            </form>
        </div>
    </div>

</body>

</html>