<!DOCTYPE html>
<html lang="en">

<head>
  <title>NASA API Full Stack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>


<body style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <nav class="view navbar navbar-secondary">
    <div class="row justify-content-end">
      <form action="/" method="GET" class="pl-2">
          <button class="btn btn-dark" type="submit">Home</button>
      </form>
        <form action="/sign-in" method="GET" class="pl-2">
          <button class="btn btn-dark" type="submit">Sign In</button>
      </form>
      <form action="/sign-up" method="GET" class="pl-2">
          <button class="btn btn-dark" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>

  <!-- Content -->
  <div class="container pt-5">
    <div class="jumbotron">
      <div class="row align-items-center">
        <div class="col-md-4 col-lg-6">
          <img class="rounded float-left border" src="images/hp-picture.jpg" width="500" height="450">
        </div>
        <div class="col-md-4 col-lg-5">
          <h1>APOD API</h1>
          <p class="text-justify">Each day a different image or photograph of our universe is featured, along with a brief
            explanation written
            by a professional astronomer."[1] The photograph does not necessarily correspond to a celestial event on the
            exact day that it is displayed, and images are sometimes repeated.[2] However, the pictures and descriptions
            often relate to current events in astronomy and space exploration."</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>