<!DOCTYPE html>
<html lang="en">

<head>

  <title>Nasa API Full Stack</title>

  <!-- Bootstrap core CSS -->
  <title>nasa-api-full-stack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>


<body style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <nav class="view navbar navbar-light" style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <div class="row justify-content-end">
        
            <form action="/" method="GET" class="pl-2">
                <button class="btn btn-dark" type="submit">Home</button>
            </form>
             <form action="/sign-in" method="GET" class="pl-2">
                <button class="btn btn-dark" type="submit">Sign In</button>
            </form>
            <form action="/sign-up" method="GET" class="pl-2">
                <button class="btn btn-dark" type="submit">Sign Up</button>
            </form>
   
    </div>
</nav>


  <!-- Content -->
  <div class="container pt-5">
<div class="jumbotron">
  <div class="col-4 mb-auto">
      <img class="rounded float-left border" src="images/hp-picture.jpg" width="400" height="400">
</div>
    <div class="col-4 offset-6">
      <h1>APOD API</h1>
        <p>"Each day a different image or photograph of our universe is featured, along with a brief explanation written
          by a professional astronomer."[1] The photograph does not necessarily correspond to a celestial event on the
          exact day that it is displayed, and images are sometimes repeated.[2] However, the pictures and descriptions
          often relate to current events in astronomy and space exploration."</p>
 
  </div>
        


    </div>

</div>

  <!-- Content -->

</body>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>