<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  
<nav class="navbar navbar-light bg-dark">
    <div class="row justify-content-end">
        <div class="col-3">
            <form action="/" method="GET" class="form-inline">
                <button class="btn btn-secondary" type="button">Home</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="text-center alert alert-success" role="alert">
                You have successfully registered. Login below. 
            </div>
        </div>
    </div>
      <div class="row jumbotron jumbotron-fluid">
            <h1 class="display-4">You have successfully registered!</h1>
            <hr class="my-4">
            <p>Login Now:</p>

            <form action="/auth/login" method="POST">
                <input type="text" name="username" class="username form-control" placeholder="Username" />
                <input type="password" name="password" class="password form-control" placeholder="Password" />
                <button>Sign In</button>
            </form>
    
    
        </div>
</div>

</body>