<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
<nav class="navbar navbar-light bg-dark">
    <div class="row justify-content-end">
        <div class="col-3">
            <form action="/" method="GET" class="form-inline">
                <button class="btn btn-secondary" type="submit">Home</button>
            </form>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="alert alert-success" role="alert">
            You have successfully logged out.
        </div>

    </div>

</body>