<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size:cover; background-position: center center;">
    <nav class="view navbar navbar-secondary">
        <a class="navbar-brand" style="color: white;">
            <p style="margin-left: 50px; font-size: 35pt; font-weight: bold;">APOD API</p>
        </a>
        <div class="row justify-content-end" style="margin-right: 20px;">
            <form action="/" method="GET" class="form-inline">
                <button class="btn btn-dark btn-lg" style="margin-right: 20px;" type="submit">Home</button>
            </form>
            <form action="/sign-in" method="GET" class="pl-2">
                <button class="btn btn-dark btn-lg" style="margin-right: 20px;" type="submit">Sign In</button>
            </form>
            <form action="/sign-up" method="GET" class="pl-2">
                <button class="btn btn-dark btn-lg" style="margin-right: 20px;" type="submit">Sign Up</button>
            </form>
        </div>
    </nav>

    <div class="col-5 pt-5 container text-align-center">
        <div class="alert alert-success"> You have
            successfully logged out.
        </div>
    </div>

</body>

</html>