<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD

  <title>Nasa API Full Stack</title>

  <!-- Bootstrap core CSS -->
  <title>nasa-api-full-stack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href= "/public/assets/user-homepage.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg bg-dark">
    <ul class="container">
      <li>
        <h1 style="color: white;">Welcome (user)</h1>
      </li>
      <li>
        <form action="/favorites" method="GET" id="favorites"><button type="button" class="btn btn-danger btn-rounded"
            style="margin-right:10px" style="display:inline-block">Favorites</button></form>
      </li>
      <li>
        <form action="/logout" method="get"><button type="button" class="btn btn-danger btn-rounded"
            style="margin-right:10px">Log Out</button></form>
      </li>
    </ul>


  </nav>

  <!-- Nav Bar -->

  <!-- APOD API -->
  <div>
    <div class="content">
      <h1 style="text-align: center;">NASA Astronomy Picture Of The Day</h1>
      <form action="/nasa-api" method="GET" id="title">
        <h2 style="text-align: center;"></h2>
      </form>
      <form action="/nasa-api" method="GET" id="date">
        <h3 style="text-align: center;">Date: </h3>
      </form>
    </div>
    <div>
      <form action="/nasa-api" method="GET" id="pic" action="GET"><img class="center-block" src=""
          alt="NASA Picture Of The Day"></form>
    </div>
    <form action="/nasa-api" method="GET" id="datepicker">
      <h5>Choose your date: <input type="date"></input></h5>
    </form>
    <form action="/favorites" method="POST">
    <label for="id-of-input" class="custom-checkbox">
      <input type="checkbox" id="id-of-input"/>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star"></i>
      <span>Favorite</span>
      </form>
    </label>
    <div id="error"></div>

    <form accept="/nasa-api" method="GET" id="explanation">
      <p class="description"></p>
    </form>
  </div>

  <!-- APOD API -->
=======
    <meta charset="utf-8">
    <title>User Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
</head>

<body style="background-color:#343a40;">

  <nav class="view navbar navbar-light bg-dark" style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&auto=format&fit=crop&w=3866&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="row justify-content-end">
      <form action="/auth/favorites" method="GET" class="pl-2">
        <button class="btn btn-dark" type="submit">Favorites</button>
      </form>
      <form action="/auth/logout" method="GET" class="pl-2">
        <button class="btn btn-dark" type="submit">Logout</button>
      </form>
    </div>
  </nav>

    <div class="pt-5 container">
        <div class=" jumbotron">
          <div class="row"> 
            <div class="col-4 pt-0">
              <img class="rounded border" src="https://www.w3schools.com/w3css/img_lights.jpg" width="600" height="600">
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p>LEFT CONTENT!</p>
            </div>
            <div class="col-3">
              <img src="https://www.pinclipart.com/pindetail/hmwohm_save-the-heart-by-ofirma85-instagram-like-icon/" width="100" height="100"></img>
            </div>
          </div>
        </div>
    </div>
>>>>>>> 11f9d44e2e3670d3b1806fd55a0c14a49c16b200

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>