<!DOCTYPE html>
<html lang="en">

<head>

  <title>Nasa API Full Stack</title>

  <!-- Bootstrap core CSS -->
  <title>nasa-api-full-stack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href= "/public/assets/user-homepage.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg bg-dark">
    <ul class="container">
      <li>
        <h1 style="color: white;">Welcome (user)</h1>
      </li>
      <li>
        <form action="/favorites" method="GET" id="favorites"><button type="button" class="btn btn-danger btn-rounded"
            style="margin-right:10px" style="display:inline-block">Favorites</button></form>
      </li>
      <li>
        <form action="/logout" method="get"><button type="button" class="btn btn-danger btn-rounded"
            style="margin-right:10px">Log Out</button></form>
      </li>
    </ul>


  </nav>

  <!-- Nav Bar -->

  <!-- APOD API -->
  <div>
    <div class="content">
      <h1 style="text-align: center;">NASA Astronomy Picture Of The Day</h1>
      <form action="/nasa-api" method="GET" id="title">
        <h2 style="text-align: center;"></h2>
      </form>
      <form action="/nasa-api" method="GET" id="date">
        <h3 style="text-align: center;">Date: </h3>
      </form>
    </div>
    <div>
      <form action="/nasa-api" method="GET" id="pic" action="GET"><img class="center-block" src=""
          alt="NASA Picture Of The Day"></form>
    </div>
    <form action="/nasa-api" method="GET" id="datepicker">
      <h5>Choose your date: <input type="date"></input></h5>
    </form>
    <form action="/favorites" method="POST">
    <label for="id-of-input" class="custom-checkbox">
      <input type="checkbox" id="id-of-input"/>
      <i class="glyphicon glyphicon-star-empty"></i>
      <i class="glyphicon glyphicon-star"></i>
      <span>Favorite</span>
      </form>
    </label>
    <div id="error"></div>

    <form accept="/nasa-api" method="GET" id="explanation">
      <p class="description"></p>
    </form>
  </div>

  <!-- APOD API -->

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>